<!--Grid row-->
<div class="input-group mb-3">

  <input ng-model="empresa.nome" name="nome" ng-keyup="pesquisar(empresa.nome, cidade, atividade)" type="text" class="form-control" placeholder="Empresa" aria-label="Empresa" aria-describedby="basic-addon1">

  <select ng-model="cidade.id" name="cidade" ng-change="pesquisar(empresa.nome, cidade, atividade)" placeholder="Cidade" aria-label="Cidade" class="browser-default custom-select">
    <option value="" selected>Cidade</option>
    <option ng-repeat="cidade in cidades" value="{{cidade.id}}">
      {{cidade.nome | capitalize}}
    </option>
  </select>

  <select ng-model="atividade.id" name="atividade" ng-change="pesquisar(empresa.nome, cidade, atividade)" placeholder="Cidade" aria-label="Cidade" class="browser-default custom-select">
    <option value="" selected>Atividade Comercial</option>
    <option ng-repeat="atividade in atividades" value="{{atividade.id}}">
      {{atividade.nome | capitalize}}
    </option>
  </select>

  <!--
  <ui-select ng-model="ctrl.person.selected"
    theme="select2"
    on-select="ctrl.onSelectCallback($item, $model)"
    ng-disabled="ctrl.disabled"
    title="Escola a Atividade Comercial">
    <ui-select-match placeholder="Selecione uma Atividade Comercial na lista ou pesquise pelo nome.">
      {{$select.selected.name}}
    </ui-select-match>
    <ui-select-choices repeat="atividade in atividades | propsFilter: {nome: $select.search}">
      <div ng-bind-html="person.name | highlight: $select.search"></div>
      <small>
        email: {{person.email}}
        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
      </small>
    </ui-select-choices>
  </ui-select>


  <div class="input-group-append">
    <button class="btn btn-md btn-outline-mdb-color m-0 px-3 py-2 z-depth-0 waves-effect" type="button">Pesquisa</button>
  </div>
  -->
</div>

<md-card>
  <md-table-container>
    <!-- Tabela -->
    <div class="#">
      <table class="table-respon1" md-table md-row-select ng-model="selectedEmpresa">
        <thead >
          <tr align="center">
            <th>Logotipo</th>
            <th>Nome</th>
            <th>Natureza</th>
            <th>Atividade</th>
            <th>Município</th>
            <th>UF</th>
            <th>Telefone</th>
            <th>Delivery</th>
            <th>Instagram</th>
            <th>Facebook</th>
          </tr>
        </thead>

        <tbody >
          <tr md-on-select="detalharEmpresa" ng-repeat="empresa in empresas">
            <td>
              <a href="https://instagram.com/{{empresa.instagram}}" target="_blank">
                <img ng-src="{{empresa.userPhotoUrlInstagram}}" show-on-load="{{empresa.instagram}}" width="100%">
              </a>
            </td>
            <td>{{empresa.nome | uppercase}}</td>
            <td>{{empresa.natureza.tipo | uppercase}}</td>
            <td>{{empresa.atividade.nome | uppercase}}</td>
            <td>{{empresa.endereco.cidade.nome | uppercase}}</td>
            <td>{{empresa.endereco.estado.nome | uppercase}}</td>
            <td>
              <a href="https://api.whatsapp.com/send?phone=55{{contato.telefone}}" target="_blank">
                {{empresa.telefone | brPhoneNumber}}
              </a>
            </td>
            <td>{{empresa.isDelivery | yesNo}}</td>
            <td>{{empresa.instagram | uppercase}}</td>
            <td>{{empresa.facebook | uppercase}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </md-table-container>
  <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{empresas.length}}" md-page-select></md-table-pagination>
</md-card>
<!--Grid row-->
