<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Nossa incrível Equipe</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">
    Nossa equipe é formada por professores e alunos do Instituto Federal da Paraíba
    - campus Guarabira.
    São alunos que foram preparados no curso Integrado de Informática e no curso
    Superior em Tecnologia em Sistemas para Internet.
  </p>

  <!-- Grid row -->
  <div class="row" align="center">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="../../images/rhavy.jpeg" class="rounded-circle z-depth-1" alt="Rhavy Maia Guedes" style="width: 85%;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Rhavy Maia Guedes</h5>
      <p class="text-uppercase blue-text"><strong>Professor de Informática</strong></p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1" alt="Rhavy Maia Guedes" style="width: 85%;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Otacílio de Araújo Ramos</h5>
      <p class="text-uppercase blue-text"><strong>Professor de Informática</strong></p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Cleonice Soares</h5>
      <p class="text-uppercase blue-text"><strong>Desenvolvedora Backend</strong></p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="../../images/emanuel.jpg" class="rounded-circle z-depth-1" alt="Sample avatar" style="width: 60%;">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Emanuel Gomes</h5>
      <p class="text-uppercase blue-text"><strong>Desenvolvedor Frontend</strong></p>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Thiago Morais</h5>
      <p class="text-uppercase blue-text"><strong>Mídias sociais</strong></p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Kemelyn Figueiredo</h5>
      <p class="text-uppercase blue-text"><strong>Mídias sociais</strong></p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</section>
<!-- Section: Team v.1 -->
